<html>
  <head>
    <title>A Few Questions</title>
  </head>

  <body>
    <h1>A Few Questions</h1>
    <p> What's your name? </p>
    <form method = POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value=":) Your name is <%=@name%>.">
      <br>
    <p>Favorite Song?</p>
    <form method = POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value=":)">
      <br>
    <p>Your hometown?</p>
    <form method = POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value=":)">
      <br>
    </form>
  </body>
</html> 